<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/style.css" th:href="@{/style.css}" />
        <title>Sidebar Fragment</title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:fragment="sidebar">
                    <div class="position-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" th:href="@{/fhir}">
                                    <span data-feather="home"></span> FHIR Resources
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" th:href="@{/fhir/patient}">
                                    <span data-feather="patient"></span> Patient Resources
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" th:href="@{/fhir/encounter}">
                                    <span data-feather="encounter"></span> Encounter Resources
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#" th:href="@{/fhir/observation}">
                                    <span data-feather="observation"></span> Observation Resources
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
