<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="../../../static/bootstrap/css/bootstrap.min.css" th:href="@{/bootstrap/css/bootstrap.min.css}" />
        <link rel="stylesheet" href="../../../static/style.css" th:href="@{/style.css}" />
        <title>Brain AI FHIR</title>
    </head>
    <body>
        <header class="navbar navbar-dark sticky-top bg-pitt flex-md-nowrap p-0 shadow" th:fragment="topbar">
            <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Brain AI FHIR</a>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="text-white" th:text="${authenName}" />
            <div class="navbar-nav">
                <div class="nav-item text-nowrap">
                    <a class="nav-link px-3" href="#" th:href="@{/logout}">Sign Out</a>
                </div>
            </div>
        </header>
        <script src="../../../static/bootstrap/js/bootstrap.min.js" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
